version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.bun
    ports:
      - "8080:8080"
    # volumes:
    #   - .:/app
    environment:
      - CHOKIDAR_USEPOLLING=true
